<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsang.greenwork.mapper.MachinforMapper">
  <resultMap id="BaseResultMap" type="com.tsang.greenwork.model.Machinfor">
    <constructor>
      <idArg column="machineid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="machinemodel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="leader" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="buyingtime" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="productivetime" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="workshopid" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="latitude" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="longitude" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    machineid, machinemodel, leader, buyingtime, productivetime, workshopid, latitude, 
    longitude
  </sql>
  <select id="selectByExample" parameterType="com.tsang.greenwork.model.MachinforExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from machinfor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from machinfor
    where machineid = #{machineid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from machinfor
    where machineid = #{machineid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tsang.greenwork.model.MachinforExample">
    delete from machinfor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tsang.greenwork.model.Machinfor">
    insert into machinfor (machineid, machinemodel, leader, 
      buyingtime, productivetime, workshopid, 
      latitude, longitude)
    values (#{machineid,jdbcType=VARCHAR}, #{machinemodel,jdbcType=VARCHAR}, #{leader,jdbcType=VARCHAR}, 
      #{buyingtime,jdbcType=DATE}, #{productivetime,jdbcType=DATE}, #{workshopid,jdbcType=CHAR}, 
      #{latitude,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.tsang.greenwork.model.Machinfor">
    insert into machinfor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="machineid != null">
        machineid,
      </if>
      <if test="machinemodel != null">
        machinemodel,
      </if>
      <if test="leader != null">
        leader,
      </if>
      <if test="buyingtime != null">
        buyingtime,
      </if>
      <if test="productivetime != null">
        productivetime,
      </if>
      <if test="workshopid != null">
        workshopid,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="machineid != null">
        #{machineid,jdbcType=VARCHAR},
      </if>
      <if test="machinemodel != null">
        #{machinemodel,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="buyingtime != null">
        #{buyingtime,jdbcType=DATE},
      </if>
      <if test="productivetime != null">
        #{productivetime,jdbcType=DATE},
      </if>
      <if test="workshopid != null">
        #{workshopid,jdbcType=CHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tsang.greenwork.model.MachinforExample" resultType="java.lang.Integer">
    select count(*) from machinfor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update machinfor
    <set>
      <if test="record.machineid != null">
        machineid = #{record.machineid,jdbcType=VARCHAR},
      </if>
      <if test="record.machinemodel != null">
        machinemodel = #{record.machinemodel,jdbcType=VARCHAR},
      </if>
      <if test="record.leader != null">
        leader = #{record.leader,jdbcType=VARCHAR},
      </if>
      <if test="record.buyingtime != null">
        buyingtime = #{record.buyingtime,jdbcType=DATE},
      </if>
      <if test="record.productivetime != null">
        productivetime = #{record.productivetime,jdbcType=DATE},
      </if>
      <if test="record.workshopid != null">
        workshopid = #{record.workshopid,jdbcType=CHAR},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update machinfor
    set machineid = #{record.machineid,jdbcType=VARCHAR},
      machinemodel = #{record.machinemodel,jdbcType=VARCHAR},
      leader = #{record.leader,jdbcType=VARCHAR},
      buyingtime = #{record.buyingtime,jdbcType=DATE},
      productivetime = #{record.productivetime,jdbcType=DATE},
      workshopid = #{record.workshopid,jdbcType=CHAR},
      latitude = #{record.latitude,jdbcType=DECIMAL},
      longitude = #{record.longitude,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsang.greenwork.model.Machinfor">
    update machinfor
    <set>
      <if test="machinemodel != null">
        machinemodel = #{machinemodel,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="buyingtime != null">
        buyingtime = #{buyingtime,jdbcType=DATE},
      </if>
      <if test="productivetime != null">
        productivetime = #{productivetime,jdbcType=DATE},
      </if>
      <if test="workshopid != null">
        workshopid = #{workshopid,jdbcType=CHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
    </set>
    where machineid = #{machineid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsang.greenwork.model.Machinfor">
    update machinfor
    set machinemodel = #{machinemodel,jdbcType=VARCHAR},
      leader = #{leader,jdbcType=VARCHAR},
      buyingtime = #{buyingtime,jdbcType=DATE},
      productivetime = #{productivetime,jdbcType=DATE},
      workshopid = #{workshopid,jdbcType=CHAR},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL}
    where machineid = #{machineid,jdbcType=VARCHAR}
  </update>
  <select id="selectAllByWorkshopid" resultType="com.tsang.greenwork.model.Machinfor">
    select * from machinfor where workshopid =  #{record.workshopid,jdbcType=CHAR}
  </select>
  <select id="selectByUsername" resultType="com.tsang.greenwork.model.Machinfor">
      select * from machinfor where leader = #{record.leader,jdbcType=VARCHAR}
    </select>
</mapper>